input, textarea{
    background-color: transparent;
    border: 2px solid white;
    color: blue;
}
input:focus, textarea:focus{
    background-color: white;
    
}

::placeholder{
    color: white;
}

