<div class="container-fluid">
    <h2 class="text-center">Post a new Quote</h2>
    <p class="lead">Do you love cars? </p>
    <p class="lead">Post Quotes about Cars and checkout the quotes about cars and even upvote or downvote a quote.</p>
    <form>
        <div class="form-group">  
            <label for="name"></label>
            <input type="text" required class="form-control" id="name" placeholder="NAME"> 
        </div>

        <div class="form-group">  
            <label for="author"></label>
            <input type="text" required class="form-control" id="name" placeholder="QUOTE BY:"> 
        </div>

        <div class="form-group"> 
            <label for="description"></label>
            <textarea class="form-control" id="description" rows="4" required placeholder="QUOTE..."></textarea> 
        </div>
        <button class="btn btn-secondary mt-3 mb-5">Upload quote</button>
    </form>
  </div>
